{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Edit Customer{% else %}Add New Customer{% endif %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">{% if form.instance.pk %}Edit Customer{% else %}Add New Customer{% endif %}</h2>
            <a href="{% url 'customer-list' %}" class="btn btn-primary mb-3">Back to Customer List</a>

            <form method="post" {% if form.instance.pk %}action="{% url 'customer-update' form.instance.pk %}"{% else %}action="{% url 'customer-create' %}"{% endif %} enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success">{% if form.instance.pk %}Update{% else %}Add{% endif %} Customer</button>
            </form>
        </div>
    </div>
{% endblock %}
