{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Edit Order Item{% else %}Create New Order Item{% endif %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">{% if form.instance.pk %}Edit Order Item{% else %}Create New Order Item{% endif %}</h2>
            <a href="{% url 'order-item-list' %}" class="btn btn-primary mb-3">Back to Order Item List</a>

            <form method="post" {% if form.instance.pk %}action="{% url 'order-item-update' form.instance.pk %}"{% else %}action="{% url 'order-item-create' %}"{% endif %} enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success">{% if form.instance.pk %}Update{% else %}Create{% endif %} Order Item</button>
            </form>
        </div>
    </div>
{% endblock %}
